<!DOCTYPE html>
<html lang="en" ng-app="wall">
<head>
  <meta charset="utf-8">
  <title>Build Wall</title>
  <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="BuildWallCtrl">
  <div id="master">
    <div id="mac-master" class="master" ng-class="macMaster.result">
      <img class="logo" src="images/mac.png" />

      <div class="builds">
        <div class="build" ng-style="{'height': (300-$index*20) + 'px', 'width': (300-$index*20) + 'px', 'line-height': (300-$index*20) + 'px', 'font-size': (48-$index*6) + 'px'}" ng-class="build.result" ng-repeat="build in macMaster.builds">
          {{build.ok.length}}/{{build.runs.length}}
        </div>
      </div>
    </div>

    <div id="win-master" class="master" ng-class="winMaster.result">
      <img class="logo" src="images/win.png" />

      <div class="builds">
        <div class="build" ng-style="{'height': (300-$index*20) + 'px', 'width': (300-$index*20) + 'px', 'line-height': (300-$index*20) + 'px', 'font-size': (48-$index*6) + 'px'}" ng-class="build.result" ng-repeat="build in winMaster.builds">
          {{build.ok.length}}/{{build.runs.length}}
        </div>
      </div>
    </div>
  </div>

  <div id="prs">
    <div class="pr" ng-class="pr.status.state" ng-repeat="pr in pulls">
      <h2>{{pr.title}} #{{pr.number}}</h2>
      <img ng-src="https://github.com/{{pr.user.login}}.png" class="avatar" />

      <div class="checks">
        <div class="check" ng-if="check.context.indexOf('dco') == -1" ng-class="check.state" ng-repeat="check in pr.status.statuses">
          <div class="os">
            <img class="mac" ng-if="check.context.startsWith('mac-')" src="images/mac.png" />
            <img class="win" ng-if="check.context.startsWith('win-')" src="images/win.png" />
            <img class="" ng-if="check.context.indexOf('appveyor') >= 0" src="images/appveyor.png" />
            <img class="" ng-if="check.context.indexOf('circleci') >= 0" src="images/circleci.png" />

            <div class="letter" ng-if="check.context.indexOf('others') >= 0">O</div>
            <div class="letter" ng-if="check.context.indexOf('network') >= 0">N</div>
            <div class="letter" ng-if="check.context.indexOf('compose') >= 0">C</div>
            <div class="letter" ng-if="check.context.indexOf('winContainers') >= 0">WC</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="angular.min.js"></script>
<script src="app.js"></script>
</html>
